# ==============================
# Visual Studio
# ==============================

.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# ==============================
# Build folders
# ==============================

Debug/
Release/
x64/
x86/
build/
cmake-build-*/

# ==============================
# Compiled files
# ==============================

*.exe
*.dll
*.obj
*.pdb
*.lib
*.ilk

# ==============================
# CMake
# ==============================

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ==============================
# OS junk
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================

*.log